<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Categories List</h1>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <a routerLink="/category/add" class="btn btn-md u-btn-outline-cyan u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15">
        <i class="fa fa-plus-circle g-mr-5"></i>New Category
      </a>
    </div>
  </div>
  <div class="table-responsive" *ngIf="categories && !isCategoriesLoading">
    <table class="table table-bordered u-table--v2">
      <thead class="text-uppercase g-letter-spacing-1">
        <tr>
          <th class="align-middle g-color-black">#</th>
          <th class="align-middle g-color-black g-min-width-300">Name</th>
          <th class="align-middle g-color-black">Options</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let category of categories">
          <td class="align-middle">{{category.show_order}}</td>
          <td class="align-middle">{{category.name}}</td>
          <td class="align-middle text-center">
            <button class="btn btn-md u-btn-outline-indigo g-mr-10 g-mb-15" routerLink="/category/edit/{{category.id}}">
              edit
            </button>

            <button class="btn btn-md u-btn-outline-{{category.category_used ? 'darkgray' : 'deeporange'}} g-mr-10 g-mb-15" (click)="deleteCategory(category.id)" [disabled]="category.category_used">
              <span *ngIf="!isCategoryDeleting">Delete</span>
              <span *ngIf="isCategoryDeleting && currentCategoryId != category.id">Delete</span>
              <span *ngIf="isCategoryDeleting && currentCategoryId == category.id">Deleting..</span>
              <span class="g-pl-5" *ngIf="isItemDeleting && currentItemId == category.id">
                <i class="fa fa-spinner fa-spin"></i>
                <span class="sr-only">Loading...</span>
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="isCategoriesLoading">
    <div class="col-md-12 text-center g-color-blue">
      <i class="fa fa-spinner fa-spin"></i>
      <span class="sr-only">Loading...</span>
      <p>Loading categories...</p>
    </div>
  </div>

</div>
