<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Order summary</h1>
  </div>

  <div class="row">
		<div class="col-md-12 text-right">
			<button class="btn btn-md u-btn-outline-teal u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15"  (click)="loadItemList(false, 'quantity')">
				<span *ngIf="!isItemsLoading">
          <i class="fa fa-refresh"></i> Refresh
        </span>
				<span class="g-pl-5" *ngIf="isItemsLoading">
					<i class="fa fa-spinner fa-spin"></i>
					<span class="sr-only">Refreshing...</span>
				</span>
			</button>

      <button class="btn btn-md u-btn-outline-cyan u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15"  (click)="loadItemList(true, 'quantity')">
				<i class="fa fa-list-ol"></i> Number Sold
			</button>

      <button class="btn btn-md u-btn-outline-pink u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15"  (click)="loadItemList(true, 'value')">
				<i class="fa fa-usd"></i> Value Sold
			</button>
		</div>
	</div>

  <div class="table-responsive" *ngIf="orderSummary && !isItemsLoading">
    <table class="table table-bordered u-table--v2">
      <thead class="text-uppercase g-letter-spacing-1">
        <tr>
          <th class="g-font-weight-300 g-color-black"></th>
          <th class="g-font-weight-300 g-color-black" *ngFor="let station of stations">S{{station.id}} - {{station.name}}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of orderSummary">
          <td class="align-middle">{{item.name}}</td>
          <td *ngFor="let station of item.stations">{{station.quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="isItemsLoading">
    <div class="col-md-12 text-center g-color-blue">
      <i class="fa fa-spinner fa-spin"></i>
      <span class="sr-only">Loading...</span>
      <p>Loading orders summary...</p>
    </div>
  </div>
</div>
