<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Add Station</h1>
  </div>
  <div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40" role="alert">
    <h3 class="h2 g-font-weight-300 g-mb-20">Enter station details</h3>
    <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" [formGroup]="stationForm" (ngSubmit)="onSubmit()">
      <!-- Text Input -->
      <div class="row">
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="name">
            <span *ngIf="!formErrors.name" [ngClass]="{'text-success': !stationForm.controls.name.pristine}">Name</span>
            <span *ngIf="formErrors.name" class="text-danger">{{formErrors.name}}</span>
          </label>
          <input class="form-control u-form-control rounded-0" type="text" placeholder="Enter name" id="name" formControlName="name">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="refresh_time">Next Station</label>
          <select class="form-control rounded-0 u-form-control" id="station" formControlName="next_station_id">
            <option value=""></option>
            <option *ngFor="let station of stations; index as i;" value="{{station.id}}">S{{i+1}} - {{station.name}}</option>
          </select>
        </div>
        <div class="form-group g-mb-25 col-md-6" *ngIf="currentEvent.is_one_off">
          <label class="g-mb-10" for="refresh_time">Refresh Time</label>
          <input class="form-control u-form-control rounded-0" type="text" placeholder="Enter Refresh Time" id="refresh_time" formControlName="refresh_time">
        </div>
        <div class="form-group g-mb-25 col-md-6" *ngIf="currentEvent.is_one_off">
          <label class="g-mb-10" for="separate_by_category">Separate By Category</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="separate_by_category" formControlName="separate_by_category">
        </div>
      </div>
    </form>
    <div class="text-right">
      <button (click)="onSubmit()" class="btn btn-md u-btn-outline-cyan g-mr-10 g-mb-15" type="submit">
        <span *ngIf="!isStationAdding">Add Station</span>
        <span *ngIf="isStationAdding">Adding Station...</span>
        <span class="g-pl-5" *ngIf="isStationAdding">
          <i class="fa fa-spinner fa-spin"></i>
          <span class="sr-only">Loading...</span>
        </span>
      </button>
      <button class="btn btn-md u-btn-outline-bluegray g-mr-10 g-mb-15" type="button" (click)="cancelStation()">
        Cancel
      </button>
    </div>
  </div>
</div>
