/* You can add global styles to this file, and also import other style files */

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: red;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
@media (min-width: 1200px){
  .container{
    max-width: 1690px !important;
  }
}
.brd-color{
  border-color: #575352;
}
body, html {
  height: 100%;
}
.pointer {
  cursor: pointer;
}
