<div class="container" *ngIf="currentEvent.is_allowed_to_order">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Place Order</h1>
  </div>
  <div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40" role="alert">
    <div class="row">
      <div class="col-md-6">
        <h3 class="h2 g-font-weight-300 g-mb-20"><span *ngIf="isEventOrderPage">Enter </span>Order details</h3>
      </div>
      <div class="col-md-6 text-right">
        <button *ngIf="!currentEvent.hide_event_help_url" class="btn btn-md u-btn-outline-teal u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15">
          <a href="{{currentEvent.event_help_url}}" class="nav-link px-0" target="_blank"> Help </a>
        </button>
        <button class="btn btn-md u-btn-outline-teal u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15">
          <a class="nav-link px-0" id="expand-button"  (click)="toggleAllCategory()">Expand all Categories </a>
        </button>
        <button *ngIf="currentEvent.require_password_for_customer_order" class="btn btn-md u-btn-outline-deeporange u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15">
          <a class="nav-link px-0" id="expand-button" (click)="onEventAccountSignout(currentEvent.name)">signOut </a>
        </button>
      </div>
    </div>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <div class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
        <!-- Text Input -->
        <div class="row">
          <div class="form-group g-mb-25 col-md-3" [ngClass]="{'disabled': !isEventOrderPage || currentEvent.require_password_for_customer_order}">
            <label class="g-mb-10" for="account_id">Account</label>
            <select2 *ngIf="accounts" [data]="accounts" formControlName="account_id" (update)="onAccountSelect($event)" [minCountForSearch]=1>
            </select2>
          </div>
          <div class="form-group g-mb-25 col-md-3">
            <label class="g-mb-10" for="customer_name">Order Reference</label>
            <input class="form-control u-form-control rounded-0" type="text" placeholder="(Refernece)" id="customer_name" formControlName="customer_name">
          </div>
          <input type="hidden" formControlName="station_id" value="">
          <div class="form-group g-mb-25 col-md-3" *ngIf="currentEvent.show_date">
            <label class="g-mb-10" for="scheduled_order_time">
              <span *ngIf="!showErrorMessage" [ngClass]="{'text-success': showErrorMessage}">Order Date/Time</span>
              <span *ngIf="showErrorMessage" class="text-danger">You have ordered outside the available dates of {{currentEvent.earliest_preorder_date}} to {{currentEvent.latest_preorder_date}}</span>
            </label>
            <input class="form-control u-form-control rounded-0 pr-0" (change)="onOrderDateSelect($event.target.value)" type="text" id="scheduled_order_time" formControlName="scheduled_order_time" autocomplete="off">
          </div>
          <div class="form-group g-mb-25 col-md-3" *ngIf="currentEvent.show_station_list">
            <label class="g-mb-10" for="station_id">Station</label>
            <select class="form-control rounded-0 u-form-control" id="station" formControlName="station_id">
              <option *ngFor="let station of stations; index as i;" value="{{station.id}}">{{station.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="isEventOrderPage" class="card brd-color rounded-0 g-mb-30">
        <div class="table-responsive text-center">
          <table class="table table-striped u-table--v1 mb-0">
            <thead>
              <tr>
                <th colspan="2">Item</th>
                <th>Price($)</th>
                <th>Quantity</th>
                <th></th>
                <th>Total($)</th>
                <th>Notes</th>
                <th></th>
              </tr>
            </thead>

            <tbody *ngIf="favourite_items?.length > 0">
              <tr>
                <td class="category_color pointer category_color_down hidden i_favourite" (click)="toggleCategory('favourite')">
                  <i class="fa fa-2x fa-angle-down white"></i>
                </td>
                <td class="category_color pointer category_color_up i_favourite" (click)="toggleCategory('favourite')">
                  <i class="fa fa-2x fa-angle-up white"></i>
                </td>
                <td colspan=8 class="category_color pointer" (click)="toggleCategory('favourite')"><b>Favourite</b></td>
              </tr>
              <tr  *ngFor="let item of favourite_items" class="all_category category_favourite">
                <td><span *ngIf="showImage['favourite']" ><img src="{{item.image ? item.image : currentEvent.item_image}}" /></span></td>
                <td class='text-left'>{{item.name}}</td>
                <td class="price_width">
                  <span class="{{(item.special_price && item.special_price != 0) ? 'strikethrough' : ''}}">${{(item.price * 1).toFixed(2)}}</span>
                  <span *ngIf="item.special_price && item.special_price != 0"> &nbsp; ${{(item.special_price * 1).toFixed(2)}}</span>
                </td>
                <td>
                  {{item.quantity}}
                </td>
                <td class="plus_minus_width">
                  <button class="btn btn-sm u-btn-outline-primary g-mr-10" type="button" (click)="favouriteQuantityOptions(item, 'plus')">
                    <i class="fa fa-plus g-px-20"></i>
                  </button>
                  <button class="btn btn-sm u-btn-outline-lightred" type="button" (click)="favouriteQuantityOptions(item, 'minus')">
                    <i class="fa fa-minus g-px-20"></i>
                  </button>
                  <br/>
                  <a class="favourite text-danger" (click)="saveDefaultQuantity(item.id, item.quantity)" *ngIf="item.favourite_quantity != item.quantity">
                    Save as Default Qty
                  </a>
                </td>
                <td class="price_width">
                  ${{(item.price * item.quantity).toFixed(2)}}
                </td>
                <td class="note_width">
                  <input *ngIf="item.quantity > 0" class="form-control u-form-control rounded-0" type="text" placeholder="(Notes)" id="item_notes_{{item.id}}" value="{{item.notes}}" (change)="notesfavouriteOptions(item)">
                </td>
                <td>
                  <i class="fa fa-heart g-px-20 favourite" (click)="removeFavourite(item.id)"></i>
                </td>
              </tr>
            </tbody>

            <tbody *ngFor="let i of items | groupBy: 'category_name'">
              <tr>
                <td class="category_color pointer category_color_down i_{{ removeSpace(i.key) }}" (click)="toggleCategory(i.key)">
                  <i class="fa fa-2x fa-angle-down white"></i>
                </td>
                <td class="category_color pointer category_color_up hidden i_{{ removeSpace(i.key) }}" (click)="toggleCategory(i.key)">
                  <i class="fa fa-2x fa-angle-up white"></i>
                </td>
                <td colspan=8 class="category_color pointer" (click)="toggleCategory(i.key)"><b>{{i.key}}</b></td>
              </tr>
              <tr *ngFor="let item of i.value" class="all_category category_{{ removeSpace(i.key) }} hidden">
                <td><span *ngIf="showImage[removeSpace(i.key)]"><img src="{{item.image ? item.image : currentEvent.item_image}}" /></span></td>
                <td class='text-left'>{{item.name}}</td>
                <td class="price_width">
                  <span class="{{(item.special_price && item.special_price != 0) ? 'strikethrough' : ''}}">${{(item.price * 1).toFixed(2)}}</span>
                  <span *ngIf="item.special_price && item.special_price != 0"> &nbsp; ${{(item.special_price * 1).toFixed(2)}}</span>
                </td>
                <td>
                  {{item.quantity}}
                </td>
                <td class="plus_minus_width">
                  <button class="btn btn-sm u-btn-outline-primary g-mr-10" type="button" (click)="quantityOptions(item, 'plus')">
                    <i class="fa fa-plus g-px-20"></i>
                  </button>
                  <button class="btn btn-sm u-btn-outline-lightred" type="button" (click)="quantityOptions(item, 'minus')">
                    <i class="fa fa-minus g-px-20"></i>
                  </button>
                </td>
                <td class="price_width">
                  ${{(getPrice(item) * item.quantity).toFixed(2)}}
                </td>
                <td class="note_width">
                  <input *ngIf="item.quantity > 0" class="form-control u-form-control rounded-0" type="text" placeholder="(Notes)" id="item_notes_{{item.id}}" value="{{item.notes}}" (change)="notesOptions(item)">
                </td>
                <td>
                  <i *ngIf='accountId' class="fa fa-heart-o g-px-20 favourite" (click)="favourite(item.id)"></i>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td colspan="4"></td>
                <td><b>Total($) :</b></td>
                <td>${{totalPrice.toFixed(2)}}</td>
                <td colspan="2"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="!isEventOrderPage" class="card brd-color rounded-0 g-mb-30">
        <div class="table-responsive text-center">
          <table class="table table-striped u-table--v1 mb-0">
            <thead>
              <tr>
                <th colspan="2">Item</th>
                <th>Price($)</th>
                <th>Quantity</th>
                <th>Total($)</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.order_items">
                <td><span><img src="{{item.image ? item.image : currentEvent.item_image}}" /></span></td>
                <td class='text-left'>{{item.name}}</td>
                <td class="price_width">${{(item.price * 1).toFixed(2)}}</td>
                <td>{{item.quantity}}</td>
                <td class="price_width">
                  <p class="{{(item.special_price && item.special_price != 0) ? 'strikethrough' : ''}}">${{(item.price * item.quantity).toFixed(2)}}</p>
                  <p *ngIf="item.special_price && item.special_price != 0" class='g-mt-10'>${{(item.special_price * item.quantity).toFixed(2)}}</p>
                </td>
                <td>{{item.notes}}</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td colspan="2"></td>
                <td></td>
                <td><b>Total($) :</b></td>
                <td>${{order.value.toFixed(2)}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
        <div class="row">
          <div class="form-group g-mb-25 col-md-12">
            <label class="g-mb-0" for="comments">{{currentEvent.comments_label}}</label>
            <textarea class="form-control u-form-control rounded-0" id="comments" formControlName="comments"></textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="text-right">
      <button *ngIf="isEventOrderPage" class="btn btn-md u-btn-outline-cyan g-mr-10 g-mb-15" type="button" (click)="placeEventOrder()">
        Review Order
      </button>
      <button *ngIf="!isEventOrderPage" class="btn btn-md u-btn-outline-bluegray g-mr-10 g-mb-15" type="button" (click)="changeEventOrder()">
        Change
      </button>
      <button *ngIf="!isEventOrderPage" (click)="onSubmit()" class="btn btn-md u-btn-outline-cyan g-mr-10 g-mb-15" type="submit">
        <span *ngIf="!isOrderAdding">Confirm Order</span>
        <span *ngIf="isOrderAdding">Adding order...</span>
        <span class="g-pl-5" *ngIf="isOrderAdding">
          <i class="fa fa-spinner fa-spin"></i>
          <span class="sr-only">Loading...</span>
        </span>
      </button>
      <button class="btn btn-md u-btn-outline-bluegray g-mr-10 g-mb-15" type="button" (click)="cancelEventOrder()">
        Cancel
      </button>
    </div>
  </div>
</div>
<div class="container" *ngIf="!currentEvent.is_allowed_to_order">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Preordering for this site is closed</h1>
  </div>
</div>
