<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Add Site</h1>
  </div>
  <div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40" role="alert">
    <h3 class="h2 g-font-weight-300 g-mb-20">Enter site details</h3>
    <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <!-- Text Input -->
      <div class="row">
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="name">
            <span *ngIf="!formErrors.name" [ngClass]="{'text-success': !eventForm.controls.name.pristine}">Name</span>
            <span *ngIf="formErrors.name" class="text-danger">{{formErrors.name}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter name" id="name" formControlName="name">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="published_name">
            <span *ngIf="!formErrors.published_name" [ngClass]="{'text-success': !eventForm.controls.published_name.pristine}">Published Name</span>
            <span *ngIf="formErrors.published_name" class="text-danger">{{formErrors.published_name}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter published name" id="published_name" formControlName="published_name">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="logo">
            <span *ngIf="!formErrors.logo" [ngClass]="{'text-success': !eventForm.controls.logo.pristine}">Logo Image Link</span>
            <span *ngIf="formErrors.logo" class="text-danger">{{formErrors.logo}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter logo url" id="logo" formControlName="logo">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="icon">
            <span *ngIf="!formErrors.icon" [ngClass]="{'text-success': !eventForm.controls.icon.pristine}">Icon Image Link</span>
            <span *ngIf="formErrors.icon" class="text-danger">{{formErrors.icon}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter icon url" id="icon" formControlName="icon">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="item_image">
            <span *ngIf="!formErrors.item_image" [ngClass]="{'text-success': !eventForm.controls.item_image.pristine}">Default Item Image Link</span>
            <span *ngIf="formErrors.item_image" class="text-danger">{{formErrors.item_image}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter item image url" id="item_image" formControlName="item_image">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="refresh_time">Default Station</label>
          <select class="form-control rounded-0 u-form-control" id="station_id" formControlName="station_id">
            <option *ngFor="let station of stations; index as i;" value="{{station.id}}">S{{i+1}} - {{station.name}}</option>
          </select>
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="refresh_time">Second Default Station</label>
          <select class="form-control rounded-0 u-form-control" id="second_station_id" formControlName="second_station_id">
            <option *ngFor="let station of stations; index as i;" value="{{station.id}}">S{{i+1}} - {{station.name}}</option>
          </select>
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="gst_number">
            <span *ngIf="!formErrors.gst_number" [ngClass]="{'text-success': !eventForm.controls.gst_number.pristine}">GST Number</span>
            <span *ngIf="formErrors.gst_number" class="text-danger">{{formErrors.gst_number}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter gst number" id="gst_number" formControlName="gst_number">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="password">
            <span *ngIf="!formErrors.password" [ngClass]="{'text-success': !eventForm.controls.password.pristine}">Password</span>
            <span *ngIf="formErrors.password" class="text-danger">{{formErrors.password}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="password" placeholder="Enter password " id="password" formControlName="password">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="help_url">
            <span *ngIf="!formErrors.help_url" [ngClass]="{'text-success': !eventForm.controls.help_url.pristine}">Help URL</span>
            <span *ngIf="formErrors.help_url" class="text-danger">{{formErrors.help_url}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="help_url" placeholder="Enter help_url " id="help_url" formControlName="help_url">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="event_help_url">
            <span *ngIf="!formErrors.event_help_url" [ngClass]="{'text-success': !eventForm.controls.event_help_url.pristine}">Event Help URL</span>
            <span *ngIf="formErrors.event_help_url" class="text-danger">{{formErrors.event_help_url}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="event_help_url" placeholder="Enter event_help_url " id="event_help_url" formControlName="event_help_url">
        </div>
        <div class="form-group g-mb-25 col-md-6" >
          <label class="g-mb-10" for="start_date">Preordering Opens</label>
          <input class="form-control u-form-control rounded-0" type="text" id="start_date" formControlName="start_date">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="end_date">Preordering Closes</label>
          <input class="form-control u-form-control rounded-0" type="text" id="end_date" formControlName="end_date">
        </div>
        <div class="form-group g-mb-25 col-md-6" >
          <label class="g-mb-10" for="start_date">Earliest Preorder Date</label>
          <input class="form-control u-form-control rounded-0" type="text" id="earliest_preorder_date" formControlName="earliest_preorder_date">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="end_date">Latest Preorder Date</label>
          <input class="form-control u-form-control rounded-0" type="text" id="latest_preorder_date" formControlName="latest_preorder_date">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="printed_image">
            <span *ngIf="!formErrors.printed_image" [ngClass]="{'text-success': !eventForm.controls.printed_image.pristine}">Printed Image Link</span>
            <span *ngIf="formErrors.printed_image" class="text-danger">{{formErrors.printed_image}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter printed image url" id="printed_image" formControlName="printed_image">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="banner_message">
            <span *ngIf="!formErrors.banner_message" [ngClass]="{'text-success': !eventForm.controls.banner_message.pristine}">Banner Message</span>
            <span *ngIf="formErrors.banner_message" class="text-danger">{{formErrors.banner_message}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter Banner Message" id="banner_message" formControlName="banner_message">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="printouts_email">
            <span *ngIf="!formErrors.printouts_email" [ngClass]="{'text-success': !eventForm.controls.printouts_email.pristine}">Email</span>
            <span *ngIf="formErrors.printouts_email" class="text-danger">{{formErrors.printouts_email}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter Email" id="printouts_email" formControlName="printouts_email">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="phone_number">
            <span *ngIf="!formErrors.phone_number" [ngClass]="{'text-success': !eventForm.controls.phone_number.pristine}">Phone Number</span>
            <span *ngIf="formErrors.phone_number" class="text-danger">{{formErrors.phone_number}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter Phone Number" id="phone_number" formControlName="phone_number">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="total_costs">
            <span *ngIf="!formErrors.total_costs" [ngClass]="{'text-success': !eventForm.controls.total_costs.pristine}">Total Costs</span>
            <span *ngIf="formErrors.total_costs" class="text-danger">{{formErrors.total_costs}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter Total Costs" id="total_costs" formControlName="total_costs">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="number_of_tiles">
            <span *ngIf="!formErrors.number_of_tiles" [ngClass]="{'text-success': !eventForm.controls.number_of_tiles.pristine}">Number Of Tiles</span>
            <span *ngIf="formErrors.number_of_tiles" class="text-danger">{{formErrors.number_of_tiles}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter Number Of Tiles" id="number_of_tiles" formControlName="number_of_tiles">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="comments_label">
            <span *ngIf="!formErrors.comments_label" [ngClass]="{'text-success': !eventForm.controls.comments_label.pristine}">Comments Label</span>
            <span *ngIf="formErrors.comments_label" class="text-danger">{{formErrors.comments_label}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter Comments Label" id="comments_label" formControlName="comments_label">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="website">
            <span *ngIf="!formErrors.website" [ngClass]="{'text-success': !eventForm.controls.website.pristine}">Website</span>
            <span *ngIf="formErrors.website" class="text-danger">{{formErrors.website}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter Website" id="website" formControlName="website">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="refresh_time">Default Account</label>
          <select class="form-control rounded-0 u-form-control" id="account_id" formControlName="account_id">
            <option *ngFor="let account of accounts;" value="{{account.id}}">{{account.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group g-mb-25 col-md-1">
          <label class="g-mb-10" for="admin">Admin</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="admin" formControlName="admin">
        </div>
        <div class="form-group g-mb-25 col-md-1">
          <label class="g-mb-10" for="active">Active</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="active" formControlName="active">
        </div>
        <div class="form-group g-mb-25 col-md-2">
          <label class="g-mb-10" for="is_one_off">Is one-off event</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="is_one_off" formControlName="is_one_off">
        </div>
        <div class="form-group g-mb-25 col-md-2">
          <label class="g-mb-10" for="show_date">Show date on order form</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="show_date" formControlName="show_date">
        </div>
        <div class="form-group g-mb-25 col-md-2">
          <label class="g-mb-10" for="disable_print_popup">Disable Print Popup</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="disable_print_popup" formControlName="disable_print_popup">
        </div>
        <div class="form-group g-mb-25 col-md-2">
          <label class="g-mb-10" for="disable_print_popup_customer">Disable Print Popup on Customer Order page</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="disable_print_popup_customer" formControlName="disable_print_popup_customer">
        </div>
        <div class="form-group g-mb-25 col-md-2">
          <label class="g-mb-10" for="show_station_list">Show Station List</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="show_station_list" formControlName="show_station_list">
        </div>
      </div>
    </form>
    <div class="text-right">
      <button (click)="onSubmit()" class="btn btn-md u-btn-outline-cyan g-mr-10 g-mb-15" type="submit">
        <span *ngIf="!isEventAdding">Add Site</span>
        <span *ngIf="isEventAdding">Adding Site...</span>
        <span class="g-pl-5" *ngIf="isEventAdding">
          <i class="fa fa-spinner fa-spin"></i>
          <span class="sr-only">Loading...</span>
        </span>
      </button>
      <button class="btn btn-md u-btn-outline-bluegray g-mr-10 g-mb-15" type="button" (click)="cancelEvent()">
        Cancel
      </button>

    </div>
  </div>
</div>
