<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Edit Event</h1>
  </div>
  <div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40" role="alert">
    <h3 class="h2 g-font-weight-300 g-mb-20">Edit event details</h3>
    <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <!-- Text Input -->
      <div class="row">
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="name">
            <span *ngIf="!formErrors.name" [ngClass]="{'text-success': !eventForm.controls.name.pristine}">Name</span>
            <span *ngIf="formErrors.name" class="text-danger">{{formErrors?.name}}</span>
          </label>
          <input class="form-control u-form-control rounded-0" type="text" placeholder="Enter name" id="name" formControlName="name">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="published_name">
            <span *ngIf="!formErrors.published_name" [ngClass]="{'text-success': !eventForm.controls.published_name.pristine}">Published Name</span>
            <span *ngIf="formErrors.published_name" class="text-danger">{{formErrors.published_name}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter published name" id="published_name" formControlName="published_name">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="logo">
            <span *ngIf="!formErrors.logo" [ngClass]="{'text-success': !eventForm.controls.logo.pristine}">Logo URL</span>
            <span *ngIf="formErrors.logo" class="text-danger">{{formErrors.logo}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter logo url" id="logo" formControlName="logo">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="icon">
            <span *ngIf="!formErrors.icon" [ngClass]="{'text-success': !eventForm.controls.icon.pristine}">Icon URL</span>
            <span *ngIf="formErrors.icon" class="text-danger">{{formErrors.icon}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter icon url" id="icon" formControlName="icon">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="item_image">
            <span *ngIf="!formErrors.item_image" [ngClass]="{'text-success': !eventForm.controls.item_image.pristine}">Logo URL</span>
            <span *ngIf="formErrors.item_image" class="text-danger">{{formErrors.item_image}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter item image url" id="item_image" formControlName="item_image">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="refresh_time">Default Station</label>
          <select class="form-control rounded-0 u-form-control" id="station_id" formControlName="station_id">
            <option *ngFor="let station of stations; index as i;" value="{{station.id}}">S{{i+1}} - {{station.name}}</option>
          </select>
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="gst_number">
            <span *ngIf="!formErrors.gst_number" [ngClass]="{'text-success': !eventForm.controls.gst_number.pristine}">GST Number</span>
            <span *ngIf="formErrors.gst_number" class="text-danger">{{formErrors.gst_number}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter gst number" id="gst_number" formControlName="gst_number">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="password">
            <span *ngIf="!formErrors.password">Password</span>
            <span *ngIf="formErrors.password" class="text-danger">{{formErrors.password}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="password" placeholder="Enter password " id="password" formControlName="password">
        </div>
        <div class="form-group g-mb-25 col-md-3">
          <label class="g-mb-10" for="admin">Admin</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="admin" formControlName="admin">
        </div>
        <div class="form-group g-mb-25 col-md-3">
          <label class="g-mb-10" for="active">Active</label>
          <input class="form-control u-form-control rounded-0" type="checkbox" id="active" formControlName="active">
        </div>
      </div>
    </form>
    <div class="text-right">
      <button (click)="onSubmit()" class="btn btn-md u-btn-outline-cyan g-mr-10 g-mb-15" type="submit">
        <span *ngIf="!isEventUpdating">Update Event</span>
        <span *ngIf="isEventUpdating">Updating Event...</span>
        <span class="g-pl-5" *ngIf="isEventUpdating">
          <i class="fa fa-spinner fa-spin"></i>
          <span class="sr-only">Loading...</span>
        </span>
      </button>
      <button class="btn btn-md u-btn-outline-bluegray g-mr-10 g-mb-15" type="button" (click)="cancelEvent()">
        Cancel
      </button>
    </div>
  </div>
</div>