<header *ngIf="showHeader" id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
  <div class="u-header__section u-header__section--dark g-bg-black g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="g-py-0">
    <nav class="navbar navbar-expand-lg toggle_nav_bar">
      <div class="container">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-brd-none g-pa-0 g-pos-abs g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBarHeader" data-toggle="collapse" data-target="#navBarHeader">
          <span class="fa fa-2x fa-bars"></span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a href="/" class="navbar-brand">
          <img src="{{ currentEvent.logo }}" class="g-width-60x">
          <!-- <span class="h1">F</span><span class="h3">ood</span><span class="h1">U</span><span class="h3">p</span> -->
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBarHeader">
          <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
            <li *ngIf="tokenService.userSignedIn()" class="nav-item g-mx-20--lg">
              <a routerLink="/category/list" class="nav-link px-0"> Categories </a>
            </li>
            <li *ngIf="tokenService.userSignedIn()" class="nav-item g-mx-20--lg">
              <a routerLink="/item/list" class="nav-link px-0"> Items </a>
            </li>
            <li *ngIf="tokenService.userSignedIn()" class="nav-item g-mx-20--lg">
              <a routerLink="/account/list" class="nav-link px-0"> Accounts </a>
            </li>
            <li *ngIf="tokenService.userSignedIn()" class="nav-item g-mx-20--lg">
              <a routerLink="/order/list" class="nav-link px-0">Orders </a>
            </li>
            <li *ngIf="tokenService.userSignedIn()" class="nav-item g-mx-20--lg">
              <a routerLink="/station/order" class="nav-link px-0"> Fulfilment </a>
            </li>
            <li *ngIf="tokenService.userSignedIn()" class="nav-item g-mx-20--lg">
              <a href="{{currentEvent.help_url}}" class="nav-link px-0" target="_blank"> Help </a>
            </li>
            <li *ngIf="tokenService.userSignedIn()" class="dropdown nav-item g-mx-20--lg">
              <a class="dropdown-toggle nav-link px-0" data-toggle="dropdown" href="#" >
                More
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li *ngIf="tokenService.userSignedIn() && currentEvent.admin" class="nav-item g-mx-20--lg">
                  <a routerLink="/site/list" class="nav-link px-0"> Sites </a>
                </li>
                <li *ngIf="tokenService.userSignedIn() && !currentEvent.admin" class="nav-item g-mx-20--lg">
                  <a routerLink="/site/edit/{{currentEvent.id}}" class="nav-link px-0"> Site </a>
                </li>
                <li *ngIf="tokenService.userSignedIn()" class="nav-item g-mx-20--lg">
                  <a routerLink="/station/list" class="nav-link px-0"> Stations </a>
                </li>
                <li *ngIf="tokenService.userSignedIn()" class="nav-item g-mx-20--lg">
                  <a routerLink="/order/summary" class="nav-link px-0"> Summary </a>
                </li>
                <li *ngIf="tokenService.userSignedIn()" style="cursor: pointer;" class="nav-item g-mx-20--lg">
                  <a (click)="onSignout()" class="nav-link px-0">LOGOUT</a>
                </li>
              </ul>
            </li>
            <li *ngIf="!tokenService.userSignedIn()" class="nav-item g-mx-20--lg">
              <a routerLink="/login" class="nav-link px-0">Login</a>
            </li>
          </ul>
        </div>
        <!-- End Navigation -->
      </div>
    </nav>
  </div>
  <div class="row g-bg-black fa-caret">
    <div class="col-sm-12">
      <span class="toggle_btn" style="cursor: pointer;" (click)="toggle_navbar()" >
        <i class="fa fa-2x fa-caret-up white"></i>
      </span>
    </div>
  </div>
  <div class="row g-bg-black hidden fa-caret fa-caret-pd ">
    <div class="col-sm-12">
      <span class="toggle_btn" style="cursor: pointer;" (click)="toggle_navbar()" >
        <i class="fa fa-2x fa-caret-down white"></i>
      </span>
    </div>
  </div>
  <div class="row hide_display_flex">
    <div class="col-sm-12">
      <h2 class="test-header" *ngIf="hostAppService.isTestSite()">{{ hostAppService.getHeaderName() }}</h2>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
