<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Import Item Price</h1>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <a href='assets/sample/ctordering_items_price.xlsx' class='btn btn-md u-btn-outline-pink u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15'>
        <i class="fa fa-file-excel-o g-mr-5"></i>Download Sample
      </a>
    </div>
  </div>
  <div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40" role="alert">
    <!-- Text Input -->
    <div class="row">
      <div class="form-group g-mb-25 col-md-6">
        <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
      </div>
      <div class="form-group g-mb-25 col-md-6">
        <button (click)="checkUpload()" class="btn btn-md u-btn-outline-cyan g-mr-10 g-mb-15" type="submit">
          <span *ngIf="!isItemPriceBeforeImporting">Import Item Price</span>
          <span *ngIf="isItemPriceBeforeImporting">Importing Item Price...</span>
          <span class="g-pl-5" *ngIf="isItemPriceBeforeImporting">
            <i class="fa fa-spinner fa-spin"></i>
            <span class="sr-only">Loading...</span>
          </span>
        </button>
        <button class="btn btn-md u-btn-outline-bluegray g-mr-10 g-mb-15" type="button" (click)="cancelImportItem()">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="g-bg-main g-brd-blue g-mb-20 text-center g-py-50" *ngIf="before_imported_items && !isItemPriceBeforeImporting && !afterItemPriceImported">
    <div class="table-responsive">
      <table class="table table-bordered u-table--v2">
        <thead class="text-uppercase g-letter-spacing-1">
          <tr>
            <th class="align-middle g-color-black">#</th>
            <th class="align-middle g-color-black g-min-width-300">Code</th>
            <th class="align-middle g-color-black">Before Price</th>
            <th class="align-middle g-color-black">Before Special Price</th>
            <th class="align-middle g-color-black">Before Active</th>
            <th class="align-middle g-color-black">After Price</th>
            <th class="align-middle g-color-black">After Special Price</th>
            <th class="align-middle g-color-black">After Active</th>
            <th class="align-middle g-color-black">Error</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of before_imported_items">
            <td class="align-middle">{{item.row}}</td>
            <td class="align-middle">{{item.system_code}}</td>
            <td class="align-middle" align="right">${{(item.price * 1).toFixed(2)}}</td>
            <td class="align-middle" align="right">${{(item.special_price * 1).toFixed(2)}}</td>
            <td class="align-middle">{{item.active}}</td>
            <td class="align-middle" align="right">${{(item.new_price * 1).toFixed(2)}}</td>
            <td class="align-middle" align="right">${{(item.new_special_price * 1).toFixed(2)}}</td>
            <td class="align-middle">{{item.new_active}}</td>
            <td class="align-middle">{{item.error}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="isItemPriceBeforeImporting">
      <div class="col-md-12 text-center g-color-blue">
        <i class="fa fa-spinner fa-spin"></i>
        <span class="sr-only">Loading...</span>
        <p>Loading items...</p>
      </div>
    </div>
  </div>

  <div *ngIf="before_imported_items && !isItemPriceBeforeImporting && !afterItemPriceImported" class="form-group g-mb-25 col-md-6">
    <button (click)="upload()" class="btn btn-md u-btn-outline-cyan g-mr-10 g-mb-15" type="submit">
      <span *ngIf="!isItemPriceImporting">Confirm</span>
      <span *ngIf="isItemPriceImporting">Importing Item Price...</span>
      <span class="g-pl-5" *ngIf="isItemPriceImporting">
        <i class="fa fa-spinner fa-spin"></i>
        <span class="sr-only">Loading...</span>
      </span>
    </button>
    <button class="btn btn-md u-btn-outline-bluegray g-mr-10 g-mb-15" type="button" (click)="cancelImportItem()">
      Cancel
    </button>
  </div>

  <div class="g-bg-main g-brd-blue g-mb-20 text-center g-py-50" *ngIf="imported_items && !isItemPriceImporting">
    <div class="table-responsive">
      <table class="table table-bordered u-table--v2">
        <thead class="text-uppercase g-letter-spacing-1">
          <tr>
            <th class="align-middle g-color-black">#</th>
            <th class="align-middle g-color-black g-min-width-300">Item Code</th>
            <th class="align-middle g-color-black">Before Price</th>
            <th class="align-middle g-color-black">Before Special Price</th>
            <th class="align-middle g-color-black">Before Active</th>
            <th class="align-middle g-color-black">After Price</th>
            <th class="align-middle g-color-black">After Special Price</th>
            <th class="align-middle g-color-black">After Active</th>
            <th class="align-middle g-color-black">Success</th>
            <th class="align-middle g-color-black">Error</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of imported_items">
            <td class="align-middle">{{item.row}}</td>
            <td class="align-middle">{{item.system_code}}</td>
            <td class="align-middle" align="right">${{(item.price * 1).toFixed(2)}}</td>
            <td class="align-middle" align="right">${{(item.special_price * 1).toFixed(2)}}</td>
            <td class="align-middle">{{item.active}}</td>
            <td class="align-middle" align="right">${{(item.new_price * 1).toFixed(2)}}</td>
            <td class="align-middle" align="right">${{(item.new_special_price * 1).toFixed(2)}}</td>
            <td class="align-middle">{{item.new_active}}</td>
            <td class="align-middle">{{item.success}}</td>
            <td class="align-middle">{{item.error}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="isItemPriceImporting">
      <div class="col-md-12 text-center g-color-blue">
        <i class="fa fa-spinner fa-spin"></i>
        <span class="sr-only">Loading...</span>
        <p>Loading items...</p>
      </div>
    </div>
  </div>
</div>
