<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Events List</h1>
  </div>
  <div class="row" *ngIf="currentEvent.admin == true">
    <div class="col-md-12 text-right">
      <a routerLink="/event/add" class="btn btn-md u-btn-outline-cyan u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15">
        <i class="fa fa-plus-circle g-mr-5"></i>New Event
      </a>
    </div>
  </div>
  <div class="table-responsive" *ngIf="events && !isEventsLoading">
    <table class="table table-bordered u-table--v2">
      <thead class="text-uppercase g-letter-spacing-1">
        <tr>
          <th class="align-middle g-color-black g-min-width-220">Name</th>
          <th class="align-middle g-color-black g-min-width-220">Published Name</th>
          <th class="align-middle g-color-black">GST Number</th>
          <th class="align-middle g-color-black">Is Active</th>
          <th class="align-middle g-color-black">Is Admin</th>
          <th class="align-middle g-color-black g-min-width-220">Options</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let event of events">
          <td class="align-middle">{{event.name}}</td>
          <td class="align-middle">{{event.published_name}}</td>
          <td class="align-middle">{{event.gst_number}}</td>
          <td class="align-middle">{{event.active}}</td>
          <td class="align-middle">{{event.admin}}</td>
          <td class="text-center">
            <button class="btn btn-md u-btn-outline-indigo g-mr-10 g-mb-15" routerLink="/event/edit/{{event.id}}">
              edit
            </button>

            <button class="btn btn-md u-btn-outline-deeporange g-mr-10 g-mb-15" (click)="deleteEvent(event.id)" [disabled]="event.event_used">
              <span *ngIf="!isEventDeleting">Delete</span>
              <span *ngIf="isEventDeleting && currentEventId != event.id">Delete</span>
              <span *ngIf="isEventDeleting && currentEventId == event.id">Deleting..</span>
              <span class="g-pl-5" *ngIf="isItemDeleting && currentItemId == event.id">
                <i class="fa fa-spinner fa-spin"></i>
                <span class="sr-only">Loading...</span>
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="isEventsLoading">
    <div class="col-md-12 text-center g-color-blue">
      <i class="fa fa-spinner fa-spin"></i>
      <span class="sr-only">Loading...</span>
      <p>Loading events...</p>
    </div>
  </div>

</div>
