<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Accounts List</h1>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <a routerLink="/account/add" class="btn btn-md u-btn-outline-cyan u-btn-hover-v1-2 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-10 g-mr-10 g-mb-15">
        <i class="fa fa-plus-circle g-mr-5"></i>New Account
      </a>
    </div>
  </div>
  <div class="table-responsive" *ngIf="accounts && !isAccountsLoading">
    <table class="table table-bordered u-table--v2">
      <thead class="text-uppercase g-letter-spacing-1">
        <tr>
          <th class="align-middle g-color-black g-min-width-300">Name</th>
          <th class="align-middle g-color-black">Contact Name</th>
          <th class="align-middle g-color-black">Email</th>
          <th class="align-middle g-color-black">Phone</th>
          <th class="align-middle g-color-black">Options</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let account of accounts">
          <td class="align-middle">{{account.name}}</td>
          <td class="align-middle">{{account.contact_name}}</td>
          <td class="align-middle">{{account.email}}</td>
          <td class="align-middle">{{account.phone}}</td>
          <td class="align-middle text-center">
            <a href="#!" class="btn btn-md u-btn-outline-teal g-mx-15 g-mb-15" routerLink="/account/show/{{account.id}}">open</a>
            <button class="btn btn-md u-btn-outline-indigo g-mr-10 g-mb-15" routerLink="/account/edit/{{account.id}}">
              edit
            </button>

            <button class="btn btn-md u-btn-outline-deeporange g-mr-10 g-mb-15" (click)="deleteAccount(account.id)" [disabled]="account.account_used">
              <span *ngIf="!isAccountDeleting">Delete</span>
              <span *ngIf="isAccountDeleting && currentAccountId != account.id">Delete</span>
              <span *ngIf="isAccountDeleting && currentAccountId == account.id">Deleting..</span>
              <span class="g-pl-5" *ngIf="isItemDeleting && currentItemId == account.id">
                <i class="fa fa-spinner fa-spin"></i>
                <span class="sr-only">Loading...</span>
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="isAccountsLoading">
    <div class="col-md-12 text-center g-color-blue">
      <i class="fa fa-spinner fa-spin"></i>
      <span class="sr-only">Loading...</span>
      <p>Loading accounts...</p>
    </div>
  </div>

</div>
