<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Add Account</h1>
  </div>
  <div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40" role="alert">
    <h3 class="h2 g-font-weight-300 g-mb-20">Enter account details</h3>
    <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
      <!-- Text Input -->
      <div class="row">
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="name">
            <span *ngIf="!formErrors.name" [ngClass]="{'text-success': !accountForm.controls.name.pristine}">Name</span>
            <span *ngIf="formErrors.name" class="text-danger">{{formErrors.name}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter name" id="name" formControlName="name">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="contact_name">
            <span *ngIf="!formErrors.contact_name">Contact Name</span>
            <span *ngIf="formErrors.contact_name" class="text-danger">{{formErrors.contact_name}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter contact name" id="contact_name" formControlName="contact_name">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="phone">
            <span *ngIf="!formErrors.phone">Phone</span>
            <span *ngIf="formErrors.phone" class="text-danger">{{formErrors.phone}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter phone" id="phone" formControlName="phone">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="email">
            <span *ngIf="!formErrors.email" [ngClass]="{'text-success': !accountForm.controls.email.pristine}">Email</span>
            <span *ngIf="formErrors.email" class="text-danger">{{formErrors.email}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="text" placeholder="Enter email" id="email" formControlName="email">
        </div>
        <div class="form-group g-mb-25 col-md-6">
          <label class="g-mb-10" for="password">
            <span *ngIf="!formErrors.password" [ngClass]="{'text-success': !accountForm.controls.password.pristine}">Password</span>
            <span *ngIf="formErrors.password" class="text-danger">{{formErrors.password}}</span>
          </label>
          <input id="hf-email" class="form-control u-form-control rounded-0" type="password" placeholder="Enter password " id="password" formControlName="password">
        </div>
      </div>
    </form>
    <div class="text-right">
      <button (click)="onSubmit()" class="btn btn-md u-btn-outline-cyan g-mr-10 g-mb-15" type="submit">
        <span *ngIf="!isAccountAdding">Add Account</span>
        <span *ngIf="isAccountAdding">Adding Account...</span>
        <span class="g-pl-5" *ngIf="isAccountAdding">
          <i class="fa fa-spinner fa-spin"></i>
          <span class="sr-only">Loading...</span>
        </span>
      </button>
      <button class="btn btn-md u-btn-outline-bluegray g-mr-10 g-mb-15" type="button" (click)="cancelAccount()">
        Cancel
      </button>

    </div>
  </div>
</div>