<div class="container g-mt-100">
  <div class="u-heading-v1-5 g-bg-main g-brd-blue g-mb-20 text-center g-py-50">
    <h1 class="h3 u-heading-v1__title">Category Show</h1>
  </div>
  <div class="row text-center">
    <div class="offset-md-3 col-md-6">
      <div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40 g-mb-30" role="alert">
        <h3 class="h2 g-font-weight-300 g-mb-20">Category details</h3>
        <p class="mb-0">
          <span class="row">
            <dt class="col-md-6">Name :
            </dt>
            <dd class="col-md-6">{{category.name}}
            </dd>
          </span>
          <span class="row">
            <dt class="col-md-6">Show Order :
            </dt>
            <dd class="col-md-6">{{category.show_order}}
            </dd>
          </span>
        </p>
      </div>
      <a href="#!" class="btn btn-md u-btn-outline-brown g-mr-10 g-mb-15" routerLink="/category/list">
        <i class="fa fa-long-arrow-left g-mr-15" aria-hidden="true"></i>Back to list</a>
    </div>
  </div>